<div class="container">
  <div class="row">
    <div class="col text-center">
      <!-- <img
        src="https://avatars.githubusercontent.com/u/68368373?s=400&u=991b6749fb7d88bb50798a90e518ea2d46c91f5a&v=4"
        alt="images"
        width="350"
        class="rounded-circle"
      /> -->
      <img
        src="./img/image.jpg"
        alt="images"
        width="350"
        class="img-thumbnail"
      />
      <h1 class="display-4">M FIKRI DZAKIR</h1>
      <p class="lead">Programmer</p>
    </div>
  </div>
</div>
